*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #616161;
  line-height: 138.5%;
  letter-spacing: 0.08em;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
._container {
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
img {
  vertical-align: top;
}
.btn {
  min-height: 4rem;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.14em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.4rem 3rem;
  cursor: pointer;
}
.header-block {
}
.header-block__title {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 126%;
  color: #000000;
}
.header-block__title:not(:last-child) {
  margin-bottom: 1.2rem;
}
.header-block__text {
}
.header-block__text:not(:last-child) {
  margin-bottom: 2.4rem;
}
.header-block__button {
  background-color: #ec5863;
  max-width: 14.4rem;
}
@media (max-width: 942px) {
  .header-block__title {
    font-size: 3.5rem;
  }
}
@media (max-width: 426px) {
  .header-block__title {
    font-size: 3rem;
  }
}
/* header ------------------------------------------------------ */
.header {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.header__container {
  max-width: 1057px;
  margin: 0 auto;
  padding: 3.7rem 1.5rem;
}
.header__menu {
}
.menu {
  padding: 0 2.5rem;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.header__button {
  background: #4285f4;
}

@media (max-width: 910px) {
  .menu__item {
    font-size: 1.4rem;
  }
  .menu__item {
    line-height: 2;
  }
}
@media (max-width: 563px) {
  .menu__item {
    flex: 0 1 50%;
    min-height: 4rem;
    text-align: center;
  }
  .header__button {
    width: 100%;
  }
}
@media (min-width: 910px) {
  .header__logo {
    margin-right: 12rem;
  }
}
@media (min-width: 564px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 4rem;
  }
}
/* main ----------------------------------------------------- */
.main {
  flex: 1 1 auto;
}
/* main__takecare -------------------------------------------- */
.main__takecare {
}
.takecare {
  background-color: #fafbfd;
}
.takecare__container {
  max-width: 1030px;
  margin: 0 auto;
  box-sizing: content-box;
  position: relative;
}
.takecare__container::after {
  content: url(../img/takecare/background-img.png);
  position: absolute;
  top: 0;
  right: -3.4rem;
}
.takecare__body {
  padding: 16rem 1.5rem 5.5rem 2.5rem;
  position: relative;
  z-index: 2;
}
.takecare__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex: 1 1 auto; */
  padding-bottom: 6rem;
}
.takecare__header {
  padding: 8rem 1rem 8rem 0rem;
}
.color-blue {
  color: #4285f4;
}
/* .takecare__img {
  width: 100%;
}
.takecare__img img {
  width: 100%;
} */
.takecare__img {
  position: relative;
  padding: 0 53.107% 38.294% 0;
}
.takecare__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.takecare__watchvideo {
}
.watchvideo {
  display: flex;
  align-items: center;
}
.watchvideo__image {
  padding-right: 1.2rem;
}
.watchvideo__content {
}
.watchvideo__title {
  color: #b0b0b0;
  font-size: 1.3rem;
  line-height: 126%;
}
.watchvideo__title:not(:last-child) {
  padding-bottom: 0.5rem;
}
.watchvideo__text {
  font-size: 0.9rem;
  line-height: 126%;
  letter-spacing: 0.165em;
}
/* .takecare__background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 787px;
  left: calc(100% - 25.5rem);
} */

@media (max-width: 802px) {
  .takecare__content {
    flex-direction: column;
    text-align: center;
    padding-bottom: 3rem;
  }
  .takecare__header {
    padding: 0rem 0 4rem 0;
  }
  .header-block__button {
    max-width: 100%;
  }
  .takecare__container::after {
    opacity: 0.5;
  }
  .watchvideo {
    justify-content: center;
  }
}
@media (max-width: 564px) {
  .takecare__header {
    padding: 10rem 0 4rem 0;
  }
}
